#movie {
    flex-basis: 46%;
    margin-left: 1rem;
}

#movielist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#pagination {
    text-align: center;
}

.pagination {
    justify-content: center;
    margin:30px;
  }

  #logout {
      margin: left 5rem;
  }