#movie {
    flex-basis: 46%;
    margin-left: 1rem;
}

#movielist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.pagination {
    justify-content: center;
    margin:30px;
  }

  /* #logout {
      margin: left 5rem;
  } */

  /* .paginationitem{
      background-color: #e61e4d;
  }

  .page-item.active .page-link {
    background-color: #e61e4d;
    border-color: #e61e4d;
  } */

  /* #main {
      background-color: blue;
  } */

  #previous {
      background-color: #202428;
      color: white;
  }